---
image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  IMAGE_PROD_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  REGISTRY: quay.io
  IMAGE_NAME: vault
  # we set this to override to samsung_cnct in gitlab Group Variables
  REGISTRY_USER: your_org
  ROBOT_ACCOUNT: containervaultrw
# Create a Gitlab Secret Variable called REGISTRY_PASSWORD and assign it the value of the registry robot docker login password.
# DO NOT PASTE THIS PASSWORD HERE.

stages:
  - build
  - test
  - publish

before_script:
  - docker info
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker login ${REGISTRY} -u ${REGISTRY_USER}+${ROBOT_ACCOUNT} -p ${REGISTRY_PASSWORD}

build-branch:
  variables:
    IMAGE_DEVL_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME-$CI_JOB_ID
  stage: build
  only:
    - branches
  except:
    - master
  script:
    - docker build -t ${IMAGE_DEVL_NAME} .
    - docker push ${IMAGE_DEVL_NAME}

build-master:
  stage: build
  only:
    - master
    - tags
  script:
    - docker build -t $IMAGE_PROD_NAME .
    - docker push $IMAGE_PROD_NAME

test:
  stage: test
  script:
    - /bin/echo "IMAGE_DEVL_NAME is $IMAGE_DEVL_NAME"
    - docker pull ${IMAGE_DEVL_NAME}
    - docker run -e RUN_TESTS=true ${IMAGE_DEVL_NAME}

run_script_template:
  script: &run_script
    - docker pull $IMAGE_PROD_NAME
    # Any merge to master (i.e. a successful CI pass) will be tagged and pushed as latest
    - docker tag ${IMAGE_PROD_NAME} ${REGISTRY}/${REGISTRY_USER}/${IMAGE_NAME}:$TAG
    - docker push ${REGISTRY}/${REGISTRY_USER}/${IMAGE_NAME}:$TAG

publish-master:
  variables:
    TAG: "latest"
  stage: publish
  only:
    - master
  script: *run_script

publish-version-tag:
  variables:
    TAG: $CI_COMMIT_TAG
  stage: publish
  only:
    - /v[0-9]+\.[0-9]+(\.[0-9]+[a-z]?)?/
  script: *run_script
