---
#image: docker:latest
image: quay.io/samsung_cnct/helm-registry-agent:v0.7.4-helm_2.6

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://localhost:2375
  IMAGE_REPO: quay.io
  IMAGE_REPO_ORG: samsung_cnct
  CHART_NAME: chart-vault
  IMAGE_DEVL_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME-$CI_PIPELINE_ID
  IMAGE_PROD_NAME: $IMAGE_REPO/$IMAGE_REPO_ORG/$CI_PROJECT_NAME:$CI_COMMIT_REF_NAME
  CHART_REGISTRY_URI: ${REGISTRY_HOST}/${REGISTRY_ORG}/${CHART_NAME}

before_script:
  - docker info
  - helm registry login -u ${REGISTRY_USERNAME} -p ${REGISTRY_PASSWORD} ${REGISTRY_HOST}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker login -u $IMAGE_REPO_USER -p $IMAGE_REPO_PASSWORD $IMAGE_REPO

stages:
  - build
  - test
  - publish

build:
  stage: build
  script:
  - docker build --force-rm --pull --no-cache --tag $IMAGE_DEVL_NAME .
  - docker push $IMAGE_DEVL_NAME

test:
  stage: test
  script:
  - docker pull $IMAGE_DEVL_NAME
  - docker run -e RUN_TESTS=true $IMAGE_DEVL_NAME 

#YAML templating -> https://git.cnct.io/help/ci/yaml/README.md#special-yaml-features
.publish_script_template:
  script: &publish_script
  - docker pull $IMAGE_DEVL_NAME
  - docker tag $IMAGE_DEVL_NAME $IMAGE_PROD_NAME
  - docker push $IMAGE_PROD_NAME

publish-ci-latest:
  stage: publish
  variables:
    IMAGE_PROD_NAME: $IMAGE_REPO/$IMAGE_REPO_ORG/$CI_PROJECT_NAME:latest
  only:
    - master
  script: *publish_script

publish-version:
  stage: publish
  only:
    - /v[0-9]+\.[0-9]+\.[0-9]+[0-9A-Za-z-]?/
  script: *publish_script

# beta channel is for internal tested release candidates
publish-beta:
  stage: publish
  only:
    - master
  script:
  - cd ${APP_NAME}
  - helm registry push ${CHART_REGISTRY_URI} -c beta

# prod channel is for official, vetted releases
publish-prod:
  stage: publish
  only:
    - /v[0-9]+\.[0-9]+\.[0-9]/
  script:
  - cd ${APP_NAME}
  - helm registry push ${CHART_REGISTRY_URI} -c prod
